<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.jiocoders.jio_webview">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:usesCleartextTraffic="true"
        android:hardwareAccelerated="true" >
        <meta-data
            android:name="io.flutter.embedding.android.AndroidViewIntegrationStyle"
            android:value="hybrid" />
    </application>
</manifest>
